/*
 * Globals
 */

.content-container {
  max-width: 72em;
  text-align: justify;
  padding-top: 90px;
  padding-left: 32px;
  padding-right: 32px;
  background-image: url("./assets/background.png");
  color: #bbbbbb;
}

a {
  color: #bbbbbb;
}