/*
 * Globals
 */

.content-container {
  max-width: 64em;
  text-align: justify;
  padding-top: 90px;
  background-image: url("./assets/background.png");
  color: #bbbbbb;
}

a {
  color: #3366BB;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}